/* // browser resets */
// @import-normalize;
@import "./common/scss/variables.scss";
@import "./common/scss/mixins.scss";
/* //Media queries and different screen resolutions declared below */

/* // Custom Style Start */
body {
  font-family: $font-Segoe-UI;
  color: #000;
  font-size: 100%;
}

.center-vertical-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dark-overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  @include sm {
    max-width: 100%;
  }

  @include md {
    max-width: 100%;
  }
  @include xl {
    max-width: 1215px;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*Style start for Product Details Banner*/

/*Style end for Product Details Banner*/

/*Start Product List Section*/

/*Start Product Details Page*/

/*End Product Details Page*/

/*Style start for Subscribe Newsletter Section*/
.subscribe-newsletter {
  background: #faf9ff;
  padding: 95px 0 90px 0;
  @include md {
    padding: 97px 0 91px 0;
  }
  @include xl {
    padding: 106px 0 100px 0;
  }
  h1 {
    font-family: $font-Segoe-UI-semibold;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
    @include xl {
      padding-bottom: 22px;
    }
  }
  p {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 48px;
    @include xl {
      padding-bottom: 54px;
    }
  }
  .input-group {
    background: #fff;
    border-radius: 25px;
    max-width: 620px;
    margin: auto;

    > .form-control {
      height: 50px;
      border: none;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      line-height: 50px;
      transition: none;
      padding: 20px 25px;
    }
    .input-group-append {
      > button.btn {
        width: auto;
        height: 40px;
        margin: 5px;
        font-size: 1rem;
        line-height: 0.5rem;
        text-align: center;
        font-weight: 600;
        background: #1f4afb;
        color: #fff;
        padding: 15px 32px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:active {
          outline: none;
        }
      }
    }
  }
}
/*Style end for Subscribe Newsletter Section*/

/*Style start for footer Section*/
footer {
  > .container {
    padding-top: 67px;
    h5 {
      font-size: 1rem;
      font-family: $font-Segoe-UI-semibold;
      color: #000;
      padding-bottom: 38px;
      @include xl {
        padding-bottom: 42px;
      }
    }
    @include md {
      padding-top: 56px;
    }
    @include xl {
      padding-top: 125px;
    }

    .instagram-feed {
      margin-bottom: 35px;
      float: left;
      li {
        float: left;
        height: auto;
        width: calc(20% - 8px);
        margin-right: 8px;
        margin-bottom: 8px;

        @include md {
          width: calc(20% - 9px);
          margin-right: 9px;
          margin-bottom: 9px;
          /*&:nth-child(5) {
            margin-right: 9px;
          }*/
        }
        @include xl {
          width: calc(25% - 10px);
          margin-right: 10px;
          margin-bottom: 10px;
        }
        > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .about-us {
      margin-bottom: 35px;
    }
    .newsletter {
      margin-bottom: 41px;
      > p {
        margin-bottom: 27px;
      }
      input {
        background: #faf9ff;
        border: none;
        border-radius: 0;
        height: 38px;
      }
      .input-group-append {
        > button.btn {
          width: 38px;
          background: #204bfc;
          border-radius: 0;
          cursor: pointer;
          > img {
            width: 15px;
            height: auto;
          }
        }
      }
    }

    .follow-us {
      > ul {
        li {
          display: inline-block;
          padding: 25px 20px 0 0;
          > a {
            /*width: 12px;
            height: 12px;*/
            float: left;
            width: 15px;
            height: 15px;
            > img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .copyright {
      > p {
        text-align: center;
        color: #777777;
        font-weight: 0.8rem;
      }
      padding: 103px 0 66px;
      @include md {
        padding: 103px 0 66px;
      }
      @include xl {
        padding: 81px 0 124px;
      }
    }
  }
}
/*Style end for footer Section*/

/*Custome Style End*/
